body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game {
    position: relative;
    width: 800px;
    height: 600px;
    background: url('assets/creepy-room.jpg') no-repeat center/cover;
    border: 2px solid white;
}

#player {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    top: 275px;
    left: 375px;
}

#jumpscare {
    position: absolute;
    width: 800px;
    height: 600px;
    top: 0;
    left: 0;
    display: none;
}
